body {
    background: #d6def5;
    color: #fff;
    input[type="text"]:disabled {
        cursor: not-allowed;
    }
    button:disabled {
        cursor: not-allowed;
        background: #aaaaaa;
    }
}

.todo-app {
    width: 50%;
    margin: auto;
    // padding: 3rem;
    font-size: 22px;
    // background: #0f1e54;
    border-radius: 20px;
    height: 100%;
    margin-top: 2rem;
    // box-shadow: 5px 10px 10px 0px #dbd8d8;
    background: #fff;
    padding-bottom: 2rem;
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        width: 88%;
    }
    @media only screen and (min-width: 820px) and (max-width: 1190px) {
        width: 100%;
    }
    .todo-wrapper {
        padding: 2rem;
        .error-message {
            text-align: center;
            margin-top: 1rem;
            font-size: 15px;
            color: red;
        }
        table {
            width: 100%;
            tr:nth-child(odd) {
                background-color: #ececec;
            }
        }
    }
    .heading {
        text-align: center;
        margin-top: 0;
        background-color: #0f1e54;
        width: 100%;
        height: 90px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 0%;
        padding-top: 2rem;
        margin-bottom: 1rem;
        color: #fff;
        @media only screen and (min-width: 320px) and (max-width: 768px) {
            font-size: 2rem;
        }
    }
    form {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        .add-btn {
            margin: 0;
        }
        input {
            width: 70%;
            height: 30px;
            padding-left: 20px;
            border: none;
            background: transparent;
            border-bottom: 1px solid;
            &:focus {
                outline: none;
            }
            @media only screen and (min-width: 320px) and (max-width: 768px) {
                width: auto;
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        border: 1px solid;
        border-radius: 10px;
        li {
            width: calc(100% / 2);
            text-align: center;
        }
    }
    button {
        font-size: 18px;
        border-radius: 15px;
        padding: 0px 15px;
    }
    .complete {
        text-decoration: line-through;
        opacity: 0.3;
    }
    .completed-list {
        text-align: center;
        color: #000;
        .content-playground .content-wrapper {
            &:nth-child(odd) {
                background-color: #ececec;
            }
            p {
                margin: 1em;
                width: 100%;
                text-align: left;
            }
        }
    }
    .secondary-btn {
        padding: 10px 20px;
        border-radius: 5px;
        background: #0f1e54;
        border: none;
        color: #fff;
        margin-bottom: 2rem;
        cursor: pointer;
        font-size: 14px;
        margin: auto;
        display: block;
    }
    .delete-btn {
        padding: 10px 20px;
        border-radius: 5px;
        background: #ff1b68;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        display: block;
        margin-left: auto;
        margin-top: 2rem;
        margin-right: 1.5rem;
    }
    .page-btn {
        margin-top: 1rem;
    }
    .content-playground {
        padding: 2rem 1rem 2rem;
        height: 40vh;
        overflow: hidden;
        overflow-y: auto;
        color: #000;
        @media only screen and (min-width: 320px) and (max-width: 768px) {
            padding: 2rem 0rem 2rem;
        }
        .content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin-left: 1em;
                width: 70%;
            }
            .button-group {
                display: flex;
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    svg {
                        pointer-events: none;
                    }
                }
                .complete-task {
                    fill: green;
                    color: green;
                    stroke: none;
                }
                .delete-task {
                    fill: red;
                    color: red;
                }
            }
            input {
                width: 70%;
                height: 30px;
                padding-left: 20px;
                border: none;
                background: transparent;
            }
            textarea {
                border: none;
                // width: 70%;
                height: 100%;
                padding: 20px;
                resize: none;
                background-color: transparent;
                outline: none;
                border: solid 1px transparent;
                @media only screen and (min-width: 320px) and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
        #focus {
            box-shadow: 0 0px 8px 3px rgb(0 0 0 / 20%),
                0 6px 20px 0 rgb(0 0 0 / 19%);
            transition-property: opacity, left, top, height;
            transition-duration: 3s, 5s, 3s, 5s;
            transition-duration: 3s;
        }
    }
}
